

<div class="container">
  <h2>Please choose a shipping option:</h2>
  <form role="form">
    <label class="radio-inline">

  <%= form_tag(order_placed_path, method: :patch) do %>

    <% @response.ups_rates.each do |rate| %>
      <%= radio_button_tag(:shipping_price, rate[1]) %>
      <%= hidden_field_tag(:shipping_name, "UPS #{rate[0]}") %>
      <%= label_tag(:shipping_name, "UPS: #{rate[0]} #{rate[1]}") %>
      <% end %>

      <% @response.usps_rates.each do |rate| %>
      <%= radio_button_tag(:shipping_price, rate[1]) %>
      <%= hidden_field_tag(:shipping_name, "USPS #{rate[0]}") %>
      <%= label_tag(:shipping_name, "USPS: #{rate[0]} #{rate[1]}") %>
      <% end %>

      <% @response.fedex_rates.each do |rate| %>
      <%= radio_button_tag(:shipping_price, rate[1]) %>
      <%= hidden_field_tag(:shipping_name, "FedEx #{rate[0]}") %>
      <%= label_tag(:shipping_name, "FedEx: #{rate[0]} #{rate[1]}") %>
      <% end %>

      <%= submit_tag "Select Shipping" %>
  <% end %>

    </label>
  </form>
</div>





<!-- this then goes to the controller ( the method will update the database or go back to our api if we were doing labels and tracking?) and params[:rate] will contain one of the options that they chose-->
<!-- i think this is a post request in the route? -->
